In [ ]:
import numpy as np
import pandas as pd
!pip install fuzzywuzzy
!pip install recordlinkage
import fuzzywuzzy
from fuzzywuzzy import fuzz
import matplotlib.pyplot as plt
import plotly.express as px

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Collecting recordlinkage
  Downloading recordlinkage-0.15-py3-none-any.whl (926 kB)
     |████████████████████████████████| 926 kB 4.7 MB/s
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.0.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.1.0)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.21.6)
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.4.1)
Requirement already satisfied: pandas<2,>=1 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.3.5)
Collecting jellyfish>=0.8.0
  Downloading jellyfish-0.9.0.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 44.8 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1->recordlinkage) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1->recordlinkage) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2,>=1->recordlinkage) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.19.0->recordlinkage) (3.1.0)
Building wheels for collected packages: jellyfish
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.9.0-cp37-cp37m-linux_x86_64.whl size=73980 sha256=f737380adc0cac08e735d8ac27a6f11d8e406c23de9c377b45578db7655e17e3
  Stored in directory: /root/.cache/pip/wheels/fe/99/4e/646ce766df0d070b0ef04db27aa11543e2767fda3075aec31b
Successfully built jellyfish
Installing collected packages: jellyfish, recordlinkage
Successfully installed jellyfish-0.9.0 recordlinkage-0.15

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
import json
from copy import deepcopy

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving INFORME ANUAL OBRAS 2021.xlsx to INFORME ANUAL OBRAS 2021.xlsx
Saving INFORME ANUAL OBRAS 2020.xlsx to INFORME ANUAL OBRAS 2020.xlsx
Saving INFORME ANUAL OBRAS 2019.xlsx to INFORME ANUAL OBRAS 2019.xlsx
Saving INFORME ANUAL OBRAS 2018.xlsx to INFORME ANUAL OBRAS 2018.xlsx

In [ ]:
d=pd.ExcelFile("INFORME ANUAL OBRAS 2018.xlsx")
tab2018=d.parse(sheet_name='Mant. a Lineas y Cone')
d=pd.ExcelFile("INFORME ANUAL OBRAS 2019.xlsx")
tab2019=d.parse(sheet_name='Mant. a Lineas y Cone')
d=pd.ExcelFile("INFORME ANUAL OBRAS 2020.xlsx")
tab2020=d.parse(sheet_name='Mant. a Lineas y Cone')
d=pd.ExcelFile("INFORME ANUAL OBRAS 2021.xlsx")
tab2021=d.parse(sheet_name='Mant. a Lineas y Cone')

In [ ]:
col=tab2018.isnull().sum(axis = 0)
for i in range(0,len(col)):
    if col[i]==len(tab2018):
      tab2018.drop(list(tab2018.columns)[i], inplace=True, axis=1)
    break
col=tab2019.isnull().sum(axis = 0)
for i in range(0,len(col)):
    if col[i]==len(tab2019):
      tab2019.drop(list(tab2019.columns)[i], inplace=True, axis=1)
    break
col=tab2020.isnull().sum(axis = 0)
for i in range(0,len(col)):
    if col[i]==len(tab2020):
      tab2020.drop(list(tab2020.columns)[i], inplace=True, axis=1)
    break
col=tab2021.isnull().sum(axis = 0)
for i in range(0,len(col)):
    if col[i]==len(tab2021):
      tab2021.drop(list(tab2021.columns)[i], inplace=True, axis=1)
    break

In [ ]:
tab2018=tab2018.dropna()
tab2019=tab2019.dropna()
tab2020=tab2020.dropna()
tab2021=tab2021.dropna()
new_header = tab2018.iloc[0] #Get the first row for the header
tab2018 = tab2018[1:] #Take the data less the header row
tab2018.columns = new_header
new_header = tab2019.iloc[0] #Get the first row for the header
tab2019 = tab2019[1:] #Take the data less the header row
tab2019.columns = new_header
new_header = tab2020.iloc[0] #Get the first row for the header
tab2020 = tab2020[1:] #Take the data less the header row
tab2020.columns = new_header
new_header = tab2021.iloc[0] #Get the first row for the header
tab2021 = tab2021[1:] #Take the data less the header row
tab2021.columns = new_header

In [ ]:
tab2018.set_index("MES", inplace = True)
tab2018
tab2019.set_index("MES", inplace = True)
tab2019
tab2020.set_index("MES", inplace = True)
tab2020
tab2021.set_index("MES", inplace = True)
tab2021

2                 AGUA POTABLE AGUAS RESIDUALES CONEXIONES
MES
ENERO                      922              626         73
FEBRERO                    949              783         62
MARZO                      941             1216         82
ABRIL                      961              640         79
MAYO                      1057              902         79
JUNIO                     1574              651         73
JULIO                     1290              652         55
AGOSTO                    1494             1215         79
TOTAL                     9188             6685        217
COSTO POR TRABAJO       549.15           549.15     2173.5
COSTO  TOTAL         5045590.2       3671067.75   471649.5

In [ ]:
cos2018=tab2018.iloc[13]
cos2019=tab2019.iloc[13]
cos2020=tab2020.iloc[13]
cos2021=tab2021.iloc[9]

In [ ]:
tab2018=tab2018.drop(labels=['TOTAL','COSTO POR TRABAJO',list(tab2018.index)[14]],axis=0)
tab2019=tab2019.drop(labels=['TOTAL','COSTO POR TRABAJO',list(tab2019.index)[14]],axis=0)
tab2020=tab2020.drop(labels=['TOTAL','COSTO POR TRABAJO',list(tab2020.index)[14]],axis=0)
tab2021=tab2021.drop(labels=['TOTAL','COSTO POR TRABAJO',list(tab2021.index)[10]],axis=0)

In [ ]:
a=cos2018[0]*tab2018['AGUA POTABLE']
b=cos2018[1]*tab2018['AGUAS RESIDUALES']
c=cos2018[2]*tab2018['CONEXIONES']
costos2018=a+b+c
a=cos2019[0]*tab2019['AGUA POTABLE']
b=cos2019[1]*tab2019['AGUAS RESIDUALES']
c=cos2019[2]*tab2019['CONEXIONES']
costos2019=a+b+c
a=cos2020[0]*tab2020['AGUA POTABLE']
b=cos2020[1]*tab2020['AGUAS RESIDUALES']
c=cos2020[2]*tab2020['CONEXIONES']
costos2020=a+b+c
a=cos2021[0]*tab2021['AGUA POTABLE']
b=cos2021[1]*tab2021['AGUAS RESIDUALES']
c=cos2021[2]*tab2021['CONEXIONES']
costos2021=a+b+c

In [ ]:
tab2018['Costo']=costos2018
tab2018

2          AGUA POTABLE AGUAS RESIDUALES CONEXIONES      Costo
MES
ENERO             699.0            318.0       72.0   680931.0
FEBRERO           729.0            482.0       92.0   823793.0
MARZO             944.0            771.0       77.0  1056335.0
ABRIL             742.0           1417.0      119.0  1375487.0
MAYO              766.0            548.0      140.0   977022.0
JUNIO            1540.0            889.0       88.0  1452527.0
JULIO            1673.0            920.0      112.0  1587979.0
AGOSTO           1609.0            858.0      132.0  1563481.0
SEPTIEMBRE        777.0            572.0       70.0   850427.0
OCTUBRE           991.0           1119.0       63.0  1233940.0
NOVIEMBRE         472.0            625.0       68.0   714491.0
DICIEMBRE         750.0            622.0      116.0   957676.0

In [ ]:
tab2019['Costo']=costos2019
tab2019

2          AGUA POTABLE AGUAS RESIDUALES CONEXIONES       Costo
MES
ENERO               891              548         99  1005403.35
FEBRERO             711              743         61    931047.6
MARZO               684              823         81  1003622.55
ABRIL               955              603         75   1018588.2
MAYO                810              769         91  1064896.35
JUNIO              1907              857        143   1828661.1
JULIO              1016              673        213  1390469.85
AGOSTO              771             1183        121   1336032.6
SEPTIEMBRE         1398              663        141  1438261.65
OCTUBRE            1362             1754        154   2045870.4
NOVIEMBRE           642              606         78    854872.2
DICIEMBRE           473              417         61    621327.0

In [ ]:
tab2020['Costo']=costos2020
tab2020

2          AGUA POTABLE AGUAS RESIDUALES CONEXIONES       Costo
MES
ENERO               740              733        158  1152310.95
FEBRERO             966              730        165   1289985.9
MARZO               849              904        115  1212612.45
ABRIL              1262             1116        165   1664506.2
MAYO               1866              794        117   1715038.5
JUNIO              1376              625         92  1298811.15
JULIO              1979              930         62  1732234.35
AGOSTO             1530              706         58   1353962.4
SEPTIEMBRE          626              667        100   927400.95
OCTUBRE             827              710         83  1024444.05
NOVIEMBRE          1098              915         53  1220634.45
DICIEMBRE           731              728         64   940313.85

In [ ]:
tab2021['Costo']=costos2021
tab2021

2       AGUA POTABLE AGUAS RESIDUALES CONEXIONES       Costo
MES
ENERO            922              626         73   1008749.7
FEBRERO          949              783         62   1085884.8
MARZO            941             1216         82  1362743.55
ABRIL            961              640         79  1050895.65
MAYO            1057              902         79  1247491.35
JUNIO           1574              651         73  1380524.25
JULIO           1290              652         55   1185991.8
AGOSTO          1494             1215         79  1659353.85

In [ ]:
tab2018.columns=tab2018.columns.rename(' ')
tab2019.columns=tab2019.columns.rename(' ')
tab2020.columns=tab2020.columns.rename(' ')
tab2021.columns=tab2021.columns.rename(' ')

In [ ]:
tab2018

           AGUA POTABLE AGUAS RESIDUALES CONEXIONES      Costo
MES
ENERO             699.0            318.0       72.0   680931.0
FEBRERO           729.0            482.0       92.0   823793.0
MARZO             944.0            771.0       77.0  1056335.0
ABRIL             742.0           1417.0      119.0  1375487.0
MAYO              766.0            548.0      140.0   977022.0
JUNIO            1540.0            889.0       88.0  1452527.0
JULIO            1673.0            920.0      112.0  1587979.0
AGOSTO           1609.0            858.0      132.0  1563481.0
SEPTIEMBRE        777.0            572.0       70.0   850427.0
OCTUBRE           991.0           1119.0       63.0  1233940.0
NOVIEMBRE         472.0            625.0       68.0   714491.0
DICIEMBRE         750.0            622.0      116.0   957676.0

In [ ]:
tab2019

           AGUA POTABLE AGUAS RESIDUALES CONEXIONES       Costo
MES
ENERO               891              548         99  1005403.35
FEBRERO             711              743         61    931047.6
MARZO               684              823         81  1003622.55
ABRIL               955              603         75   1018588.2
MAYO                810              769         91  1064896.35
JUNIO              1907              857        143   1828661.1
JULIO              1016              673        213  1390469.85
AGOSTO              771             1183        121   1336032.6
SEPTIEMBRE         1398              663        141  1438261.65
OCTUBRE            1362             1754        154   2045870.4
NOVIEMBRE           642              606         78    854872.2
DICIEMBRE           473              417         61    621327.0

In [ ]:
tab2020

           AGUA POTABLE AGUAS RESIDUALES CONEXIONES       Costo
MES
ENERO               740              733        158  1152310.95
FEBRERO             966              730        165   1289985.9
MARZO               849              904        115  1212612.45
ABRIL              1262             1116        165   1664506.2
MAYO               1866              794        117   1715038.5
JUNIO              1376              625         92  1298811.15
JULIO              1979              930         62  1732234.35
AGOSTO             1530              706         58   1353962.4
SEPTIEMBRE          626              667        100   927400.95
OCTUBRE             827              710         83  1024444.05
NOVIEMBRE          1098              915         53  1220634.45
DICIEMBRE           731              728         64   940313.85

In [ ]:
tab2021

        AGUA POTABLE AGUAS RESIDUALES CONEXIONES       Costo
MES
ENERO            922              626         73   1008749.7
FEBRERO          949              783         62   1085884.8
MARZO            941             1216         82  1362743.55
ABRIL            961              640         79  1050895.65
MAYO            1057              902         79  1247491.35
JUNIO           1574              651         73  1380524.25
JULIO           1290              652         55   1185991.8
AGOSTO          1494             1215         79  1659353.85

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving EFICIENCIA FISICA COLONIAS.xlsx to EFICIENCIA FISICA COLONIAS.xlsx

In [ ]:
efi=pd.ExcelFile("EFICIENCIA FISICA COLONIAS.xlsx")
efi.sheet_names

['ENERO', 'FEBRERO', 'MARZO ', 'ABRIL ', 'MAYO ', 'JUNIO ', 'JULIO', 'AGOSTO ']

In [ ]:
efi1=efi.parse(sheet_name='ENERO')
col=efi1.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>=5:
      v.append(list(efi1.columns)[i])
efi1=efi1.drop(v,axis=1)
efi1=efi1.dropna()
new_header = efi1.iloc[0] #Get the first row for the header
efi1= efi1[1:] #Take the data less the header row
efi1.columns = new_header
efi1.set_index('COLONIA ', inplace = True)
efi1.columns=efi1.columns.rename(' ')
efi1=efi1.drop(labels=['TOTAL'],axis=0)

efi2=efi.parse(sheet_name='FEBRERO')
col=efi2.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>=5:
      v.append(list(efi2.columns)[i])
efi2=efi2.drop(v,axis=1)
efi2=efi2.dropna()
new_header = efi2.iloc[0] #Get the first row for the header
efi2= efi2[1:] #Take the data less the header row
efi2.columns = new_header
efi2.set_index('COLONIA ', inplace = True)
efi2.columns=efi2.columns.rename(' ')
efi2=efi2.drop(labels=['TOTAL'],axis=0)

efi3=efi.parse(sheet_name='MARZO ')
col=efi3.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>=5:
      v.append(list(efi3.columns)[i])
efi3=efi3.drop(v,axis=1)
efi3=efi3.dropna()
new_header = efi3.iloc[0] #Get the first row for the header
efi3= efi3[1:] #Take the data less the header row
efi3.columns = new_header
efi3.set_index('COLONIA ', inplace = True)
efi3.columns=efi3.columns.rename(' ')
efi3=efi3.drop(labels=['TOTAL'],axis=0)

efi4=efi.parse(sheet_name='ABRIL ')
col=efi4.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>=5:
      v.append(list(efi4.columns)[i])
efi4=efi4.drop(v,axis=1)
efi4=efi4.dropna()
new_header = efi4.iloc[0] #Get the first row for the header
efi4= efi4[1:] #Take the data less the header row
efi4.columns = new_header
efi4.set_index('COLONIA ', inplace = True)
efi4.columns=efi4.columns.rename(' ')
efi4=efi4.drop(labels=['TOTAL'],axis=0)

efi5=efi.parse(sheet_name='MAYO ')
col=efi5.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>=5:
      v.append(list(efi5.columns)[i])
efi5=efi5.drop(v,axis=1)
efi5=efi5.dropna()
new_header = efi5.iloc[0] #Get the first row for the header
efi5= efi5[1:] #Take the data less the header row
efi5.columns = new_header
efi5.set_index('COLONIA ', inplace = True)
efi5.columns=efi5.columns.rename(' ')
efi5=efi5.drop(labels=['TOTAL'],axis=0)

efi6=efi.parse(sheet_name='JUNIO ')
col=efi6.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>=5:
      v.append(list(efi6.columns)[i])
efi6=efi6.drop(v,axis=1)
efi6=efi6.dropna()
new_header = efi6.iloc[0] #Get the first row for the header
efi6= efi6[1:] #Take the data less the header row
efi6.columns = new_header
efi6.set_index('COLONIA ', inplace = True)
efi6.columns=efi6.columns.rename(' ')
efi6=efi6.drop(labels=['TOTAL'],axis=0)

efi7=efi.parse(sheet_name='JULIO')
col=efi7.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>=5:
      v.append(list(efi7.columns)[i])
efi7=efi7.drop(v,axis=1)
efi7=efi7.dropna()
new_header = efi7.iloc[0] #Get the first row for the header
efi7= efi7[1:] #Take the data less the header row
efi7.columns = new_header
efi7.set_index('COLONIA ', inplace = True)
efi7.columns=efi7.columns.rename(' ')
efi7=efi7.drop(labels=['TOTAL'],axis=0)

efi8=efi.parse(sheet_name='AGOSTO ')
col=efi8.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>=10:
      v.append(list(efi8.columns)[i])
efi8=efi8.drop(v,axis=1)
efi8=efi8.dropna()
new_header = efi8.iloc[0] #Get the first row for the header
efi8= efi8[1:] #Take the data less the header row
efi8.columns = new_header
efi8.set_index('COLONIA ', inplace = True)
efi8.columns=efi8.columns.rename(' ')
efi8=efi8.drop(labels=['TOTAL'],axis=0)

In [ ]:
efi8

,No. DE USUARIOS,FACTURADO MICROMEDICION (M3),DOTACION MACROMEDICION (M3),EFICIENCIA FISICA,PROMEDIO REAL,PROMEDIO ESTIMADO
COLONIA,,,,,,
GALERIAS,54,2792,4510,0.619069,51.703704,83.518519
CAMPESTRE LA ROSITA,1870,75305,86215,0.873456,40.270053,46.104278
AMP LA ROSITA,1467,22151,36311,0.610036,15.099523,24.751875
SAN ISIDRO,1151,30001,38020,0.789085,26.065161,33.032146
FRESNO,1092,45436,51310,0.885519,41.608059,46.987179
QUINTAS SAN ISIDRO,386,9454,12010,0.787177,24.492228,31.11399
SAN LUCIANO,72,4681,5715,0.819073,65.013889,79.375
VIÑEDOS,6485,118066,166400,0.709531,18.206014,25.659214
VILLA FLORIDA,916,11041,21316,0.517968,12.053493,23.270742
ZARAGOZA SUR,3814,40970,51316,0.798386,10.742003,13.454641
FERROPUERTO,50,71393,83412,0.855908,1427.86,1668.24
SANTA BARBARA,557,13025,17991,0.723973,23.384201,32.29982
LAS QUINTAS,231,5554,7623,0.728585,24.04329,33
FRONDOSO,106,2908,4372,0.665142,27.433962,41.245283
ISABELES,158,6025,7110,0.847398,38.132911,45
VEREDAS LA PAZ,1495,16391,13450,1.218662,10.96388,8.996656
JARDINES DEL SOL,1528,15377,15770,0.975079,10.063482,10.320681
RES SENDEROS,2447,51454,69212,0.743426,21.02738,28.28443
AMP SENDEROS,603,11401,16415,0.694548,18.907131,27.222222
LA CIENEGA,109,2575,3212,0.801681,23.623853,29.46789
LAGOS,473,5222,20417,0.255767,11.040169,43.164905
VILLAS LAS MARG,16,1365,1512,0.902778,85.3125,94.5
CAMPIÑAS IBERIA,176,2539,5411,0.469229,14.426136,30.744318
BAMBU,35,986,1348,0.731454,28.171429,38.514286
SEVILLA,109,2036,1609,1.265382,0,14.761468

In [ ]:
d=pd.ExcelFile("INFORME ANUAL OBRAS 2018.xlsx")
cos2018=d.parse(sheet_name='RESUMEN COSTO')
d=pd.ExcelFile("INFORME ANUAL OBRAS 2019.xlsx")
cos2019=d.parse(sheet_name='RESUMEN COSTO')
d=pd.ExcelFile("INFORME ANUAL OBRAS 2020.xlsx")
cos2020=d.parse(sheet_name='RESUMEN COSTO')
d=pd.ExcelFile("INFORME ANUAL OBRAS 2021.xlsx")
cos2021=d.parse(sheet_name='RESUMEN COSTO')

In [ ]:
col=cos2018.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>len(cos2018)-2:
      v.append(list(cos2018.columns)[i])
cos2018=cos2018.drop(v,axis=1)
cos2018=cos2018.dropna()
cos2018.columns=["Tipo obras",'Costo']
cos2018.set_index('Tipo obras', inplace = True)

print(cos2018.index)
print('TOTAL' in cos2018.index)

Index(['OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS',
       'OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS',
       'OBRAS EN LINEAS DE AGUA POTABLE',
       'PERFORACION Y PROFUNDIZACION DE POZOS', 'MANTENIMIENTO A POZOS',
       'MANTENIMIENTO A TANQUES',
       'MANTENIMIENTO A CARCAMOS  SANITARIOS Y PLUVIALES',
       'MANTENIMIENTO A LINEAS Y CONEXIONES', 'TOTAL'],
      dtype='object', name='Tipo obras')
True

In [ ]:
if 'TOTAL' in cos2018.index:
  cos2018=cos2018.drop(labels=['TOTAL'],axis=0)
print(cos2018)

                                                          Costo
Tipo obras
OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS       5.344704e+07
OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS  4.740379e+07
OBRAS EN LINEAS DE AGUA POTABLE                    4.234360e+06
PERFORACION Y PROFUNDIZACION DE POZOS              0.000000e+00
MANTENIMIENTO A POZOS                              2.271817e+07
MANTENIMIENTO A TANQUES                            9.550906e+05
MANTENIMIENTO A CARCAMOS  SANITARIOS Y PLUVIALES   4.879739e+06
MANTENIMIENTO A LINEAS Y CONEXIONES                1.327409e+07

In [ ]:
col=cos2019.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>len(cos2019)-2:
      v.append(list(cos2019.columns)[i])
cos2019=cos2019.drop(v,axis=1)
cos2019=cos2019.dropna()
cos2019.columns=["Tipo obras",'Costo']
cos2019.set_index('Tipo obras', inplace = True)

print(cos2019.index)
print(bool('TOTAL' in cos2019.index))

Index(['OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS',
       'OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS',
       'OBRAS EN LINEA DE AGUA POTABLE ', 'MANTENIMIENTO A POZOS ',
       'MANTENIMIENTO A TANQUES ',
       'MANTENIMIENTO A CARCAMOS  SANITARIOS Y PLUVIALES',
       'MANTENIMIENTO A LINEAS Y CONEXIONES ', 'TOTAL'],
      dtype='object', name='Tipo obras')
True

In [ ]:
if 'TOTAL' in cos2019.index:
  cos2019=cos2019.drop(labels=['TOTAL'],axis=0)
print(cos2019)

                                                          Costo
Tipo obras
OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS       2.901052e+07
OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS  4.951441e+07
OBRAS EN LINEA DE AGUA POTABLE                     3.773723e+06
MANTENIMIENTO A POZOS                              1.607190e+07
MANTENIMIENTO A TANQUES                            1.635869e+06
MANTENIMIENTO A CARCAMOS  SANITARIOS Y PLUVIALES   5.976401e+06
MANTENIMIENTO A LINEAS Y CONEXIONES                1.453905e+07

In [ ]:
col=cos2020.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>len(cos2020)-2:
      v.append(list(cos2020.columns)[i])
cos2020=cos2020.drop(v,axis=1)
cos2020=cos2020.dropna()
cos2020.columns=["Tipo obras",'Costo']
cos2020.set_index('Tipo obras', inplace = True)

print(cos2020.index)
print('TOTAL' in cos2020.index)

Index(['OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS',
       'OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS',
       'OBRAS EN LINEA DE AGUA POTABLE ',
       'OBRAS DE AGUA TRATADA REALIZADAS POR CONTRATISTAS',
       'MANTENIMIENTO A CARCAMOS  SANITARIOS Y PLUVIALES',
       'MANTENIMIENTO A LINEAS Y CONEXIONES '],
      dtype='object', name='Tipo obras')
False

In [ ]:
if 'TOTAL' in cos2020.index:
  cos2020=cos2020.drop(labels=['TOTAL'],axis=0)
print(cos2020)

                                                          Costo
Tipo obras
OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS       2.189633e+07
OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS  5.246761e+07
OBRAS EN LINEA DE AGUA POTABLE                     9.379323e+06
OBRAS DE AGUA TRATADA REALIZADAS POR CONTRATISTAS  9.993081e+04
MANTENIMIENTO A CARCAMOS  SANITARIOS Y PLUVIALES   4.142164e+06
MANTENIMIENTO A LINEAS Y CONEXIONES                1.553226e+07

In [ ]:
col=cos2021.isnull().sum(axis = 0)
v=[]
for i in range(0,len(col)):
    if col[i]>len(cos2021)-2:
      v.append(list(cos2021.columns)[i])
cos2021=cos2021.drop(v,axis=1)
cos2021=cos2021.dropna()
cos2021.columns=["Tipo obras",'Costo']
cos2021.set_index('Tipo obras', inplace = True)


print(cos2021.index)
print('TOTAL' in cos2021.index)

Index(['OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS',
       'OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS',
       'OBRAS EN LINEA DE AGUA POTABLE ', 'MANTENIMIENTO A POZOS ',
       'MANTENIMIENTO A TANQUES ', 'MANTENIMIENTO A LINEAS Y CONEXIONES ',
       'TOTAL'],
      dtype='object', name='Tipo obras')
True

In [ ]:
if 'TOTAL' in cos2021.index:
  cos2021=cos2021.drop(labels=['TOTAL'],axis=0)
print(cos2021)

                                                          Costo
Tipo obras
OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS       1.681254e+07
OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS  3.383660e+07
OBRAS EN LINEA DE AGUA POTABLE                     4.448683e+06
MANTENIMIENTO A POZOS                              2.429118e+07
MANTENIMIENTO A TANQUES                            1.201939e+06
MANTENIMIENTO A LINEAS Y CONEXIONES                9.188307e+06

In [ ]:
efi1.columns.name = None
efi1['Colonias']=efi1.index
efi1.drop('FACTURADO MICROMEDICION (M3)', inplace=True, axis=1)
efi1.drop('DOTACION MACROMEDICION (M3) ', inplace=True, axis=1)
efi1.drop('PROMEDIO REAL', inplace=True, axis=1)
efi1.drop('PROMEDIO ESTIMADO', inplace=True, axis=1)
enero=efi1.to_dict('records')

efi2.columns.name = None
efi2['Colonias']=efi2.index
efi2.drop('FACTURADO MICROMEDICION (M3)', inplace=True, axis=1)
efi2.drop('DOTACION MACROMEDICION (M3) ', inplace=True, axis=1)
efi2.drop('PROMEDIO REAL', inplace=True, axis=1)
efi2.drop('PROMEDIO ESTIMADO', inplace=True, axis=1)
febrero=efi2.to_dict('records')

efi3.columns.name = None
efi3['Colonias']=efi3.index
efi3.drop('FACTURADO MICROMEDICION (M3)', inplace=True, axis=1)
efi3.drop('DOTACION MACROMEDICION (M3) ', inplace=True, axis=1)
efi3.drop('PROMEDIO REAL', inplace=True, axis=1)
efi3.drop('PROMEDIO ESTIMADO', inplace=True, axis=1)
marzo=efi3.to_dict('records')

efi4.columns.name = None
efi4['Colonias']=efi4.index
efi4.drop('FACTURADO MICROMEDICION (M3)', inplace=True, axis=1)
efi4.drop('DOTACION MACROMEDICION (M3) ', inplace=True, axis=1)
efi4.drop('PROMEDIO REAL', inplace=True, axis=1)
efi4.drop('PROMEDIO ESTIMADO', inplace=True, axis=1)
abril=efi4.to_dict('records')

efi5.columns.name = None
efi5['Colonias']=efi5.index
efi5.drop('FACTURADO MICROMEDICION (M3)', inplace=True, axis=1)
efi5.drop('DOTACION MACROMEDICION (M3) ', inplace=True, axis=1)
efi5.drop('PROMEDIO REAL', inplace=True, axis=1)
efi5.drop('PROMEDIO ESTIMADO', inplace=True, axis=1)
mayo=efi5.to_dict('records')

efi6.columns.name = None
efi6['Colonias']=efi6.index
efi6.drop('FACTURADO MICROMEDICION (M3)', inplace=True, axis=1)
efi6.drop('DOTACION MACROMEDICION (M3) ', inplace=True, axis=1)
efi6.drop('PROMEDIO REAL', inplace=True, axis=1)
efi6.drop('PROMEDIO ESTIMADO', inplace=True, axis=1)
junio=efi6.to_dict('records')

efi7.columns.name = None
efi7['Colonias']=efi7.index
efi7.drop('FACTURADO MICROMEDICION (M3)', inplace=True, axis=1)
efi7.drop('DOTACION MACROMEDICION (M3) ', inplace=True, axis=1)
efi7.drop('PROMEDIO REAL', inplace=True, axis=1)
efi7.drop('PROMEDIO ESTIMADO', inplace=True, axis=1)
julio=efi7.to_dict('records')

efi8.columns.name = None
efi8['Colonias']=efi8.index
efi8.drop('FACTURADO MICROMEDICION (M3)', inplace=True, axis=1)
efi8.drop('DOTACION MACROMEDICION (M3) ', inplace=True, axis=1)
efi8.drop('PROMEDIO REAL', inplace=True, axis=1)
efi8.drop('PROMEDIO ESTIMADO', inplace=True, axis=1)
agosto=efi8.to_dict('records')

In [ ]:
j={}

In [ ]:
j["tabla_eficiencia_simas"]={'enero':enero,'febrero':febrero,'marzo':marzo,'abril':abril,'mayo':mayo,'junio':junio,'julio':julio,'agostoo':agosto}

In [ ]:
tab2018.columns.name = None
tab2018['Mes']=tab2018.index
obras18=tab2018.to_dict('records')

tab2019.columns.name = None
tab2019['Mes']=tab2019.index
obras19=tab2019.to_dict('records')

tab2020.columns.name = None
tab2020['Mes']=tab2020.index
obras20=tab2020.to_dict('records')

tab2021.columns.name = None
tab2021['Mes']=tab2021.index
obras21=tab2021.to_dict('records')

In [ ]:
j["tabla_obras_simas"]={'2018':obras18,'2019':obras19,'2020':obras20,'2021':obras21}

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving simas.xlsx to simas.xlsx

In [ ]:
d=pd.ExcelFile("simas.xlsx")

In [ ]:
ap=d.parse(sheet_name='AP')
ar=d.parse(sheet_name='AR')
c=d.parse(sheet_name='C')
c

,CONEXIONES,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO
0,CONEXIÓN AGUA Y DRENAJE,46,41,35,47,38,49,34,53
1,CAMBIO DE CONEXIÓN AGUA,9,0,3,4,1,2,5,5
2,CAMBIO DE CONEXIÓN DE DRENAJE,7,11,8,5,6,6,4,1
3,CANCELACIÓN TOMA,2,2,29,19,28,8,9,1
4,INTERCONEXIÓN,0,0,0,0,0,0,0,0
5,CONEXIÓN DE AGUA,1,1,1,0,4,2,0,1
6,RECONEXION,6,7,4,4,1,6,3,16
7,CONEXIÓN DE DRENAJE EXTRA,2,0,2,0,1,0,0,2

In [ ]:
ap['Total']=ap["ENERO"]+ap["FEBRERO"]+ap["MARZO"]+ap["ABRIL"]+ap["JUNIO"]+ap["JULIO"]+ap["AGOSTO"]
ap2=ap[['AGUA POTABLE', 'Total']]
ap2.rename(columns = {'AGUA POTABLE':'trabajo_realizado', 'Total':'numero_reportes'}, inplace = True)
AP=ap2.to_dict('records')
j['grafica_reportes_aguapotable']=AP

ar['Total']=ar["ENERO"]+ar["FEBRERO"]+ar["MARZO"]+ar["ABRIL"]+ar["JUNIO"]+ar["JULIO"]+ar["AGOSTO"]
ar2=ar[['AGUAS RESIDUALES', 'Total']]
ar2.rename(columns = {'AGUAS RESIDUALES':'trabajo_realizado', 'Total':'numero_reportes'}, inplace = True)
AR=ar2.to_dict('records')
j['grafica_reportes_aguasresiduales']=AR

c['Total']=c["ENERO"]+c["FEBRERO"]+c["MARZO"]+c["ABRIL"]+c["JUNIO"]+c["JULIO"]+c["AGOSTO"]
c2=c[['CONEXIONES', 'Total']]
c2.rename(columns = {'CONEXIONES':'trabajo_realizado', 'Total':'numero_reportes'}, inplace = True)
C=c2.to_dict('records')
j['grafica_reportes_conexciones']=C

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
dic=[]
s=tab2018[['AGUA POTABLE','AGUAS RESIDUALES','CONEXIONES','Costo']]
s['suma']=s['AGUA POTABLE']+s['AGUAS RESIDUALES']+s['CONEXIONES']
dic1={'year':2018, 'obras':s['suma'].sum(),'monto':s['Costo'].sum()}
dic2=deepcopy(dic1)
dic.append(dic2)
s=tab2019[['AGUA POTABLE','AGUAS RESIDUALES','CONEXIONES','Costo']]
s['suma']=s['AGUA POTABLE']+s['AGUAS RESIDUALES']+s['CONEXIONES']
dic1={'year':2019, 'obras':s['suma'].sum(),'monto':s['Costo'].sum()}
dic2=deepcopy(dic1)
dic.append(dic2)
s=tab2020[['AGUA POTABLE','AGUAS RESIDUALES','CONEXIONES','Costo']]
s['suma']=s['AGUA POTABLE']+s['AGUAS RESIDUALES']+s['CONEXIONES']
dic1={'year':2020, 'obras':s['suma'].sum(),'monto':s['Costo'].sum()}
dic2=deepcopy(dic1)
dic.append(dic2)
s=tab2021[['AGUA POTABLE','AGUAS RESIDUALES','CONEXIONES','Costo']]
s['suma']=s['AGUA POTABLE']+s['AGUAS RESIDUALES']+s['CONEXIONES']
dic1={'year':2021, 'obras':s['suma'].sum(),'monto':s['Costo'].sum()}
dic2=deepcopy(dic1)
dic.append(dic2)
j['grafica_obras_monto_simas']=dic

In [ ]:
res=d.parse(sheet_name='Resumen')
resp=res[['MES','AGUA POTABLE']]
resp['categoria']='AGUA POTABLE'
resp.rename(columns = {'AGUA POTABLE':'dato', 'MES':'fecha'}, inplace = True)
resp
resr=res[['MES','AGUAS RESIDUALES']]
resr['categoria']='AGUAS RESIDUALES'
resr.rename(columns = {'AGUAS RESIDUALES':'dato', 'MES':'fecha'}, inplace = True)
resr
resc=res[['MES','CONEXIONES']]
resc['categoria']='CONEXIONES'
resc.rename(columns = {'CONEXIONES':'dato', 'MES':'fecha'}, inplace = True)
resp=resp.append(resr)
resp=resp.append(resc)
j['grafica_reportes_resumen']=resp.to_dict('records')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
co18=cos2018.reset_index().to_dict('records')
co19=cos2019.reset_index().to_dict('records')
co20=cos2020.reset_index().to_dict('records')
co21=cos2021.reset_index().to_dict('records')
j['grafica_resumen_simas']={'2021':co21,'2020':co20,'2019':co19,'2018':co18}

In [ ]:
j.keys()

dict_keys(['tabla_eficiencia_simas', 'tabla_obras_simas', 'grafica_reportes_aguapotable', 'grafica_reportes_aguasresiduales', 'grafica_reportes_conexciones', 'grafica_obras_monto_simas', 'grafica_reportes_resumen', 'grafica_resumen_simas'])

In [ ]:
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

In [ ]:
json_object = json.dumps(j, cls=NpEncoder, indent = 4)
data = json.loads(json_object)
data

{'grafica_obras_monto_simas': [{'monto': 13274089.0,
   'obras': 21982.0,
   'year': 2018},
  {'monto': 14539052.85, 'obras': 22577, 'year': 2019},
  {'monto': 15532255.2, 'obras': 24640, 'year': 2020},
  {'monto': 9981634.95, 'obras': 16455, 'year': 2021}],
 'grafica_reportes_aguapotable': [{'numero_reportes': 2587,
   'trabajo_realizado': 'TUBO ROTO'},
  {'numero_reportes': 756, 'trabajo_realizado': 'TOMA TAPADA'},
  {'numero_reportes': 3584, 'trabajo_realizado': 'FALTA DE SERVICIO'},
  {'numero_reportes': 53, 'trabajo_realizado': 'TOMA CON AIRE'},
  {'numero_reportes': 104, 'trabajo_realizado': 'ZANJA\xa0'},
  {'numero_reportes': 0, 'trabajo_realizado': 'PAVIMENTO'},
  {'numero_reportes': 91, 'trabajo_realizado': 'ESCOMBRO'},
  {'numero_reportes': 30, 'trabajo_realizado': 'AGUA CON ARENA'},
  {'numero_reportes': 3, 'trabajo_realizado': 'AGUA CON ACEITE'},
  {'numero_reportes': 147, 'trabajo_realizado': 'AGUA TURBIA'},
  {'numero_reportes': 223, 'trabajo_realizado': 'POCA PRESIÓN'},
  {'numero_reportes': 82, 'trabajo_realizado': 'HUNDIMIENTO'},
  {'numero_reportes': 401, 'trabajo_realizado': 'REPOSICIÓN DE TOMA'},
  {'numero_reportes': 0, 'trabajo_realizado': 'LOCALIZAR TUBERÍA'},
  {'numero_reportes': 0, 'trabajo_realizado': 'LIMPIAR CAJA DE VALVULA.'},
  {'numero_reportes': 46, 'trabajo_realizado': 'TUBO ROTO GENERAL'},
  {'numero_reportes': 0, 'trabajo_realizado': 'INTERCONEXION'},
  {'numero_reportes': 0, 'trabajo_realizado': 'ABRIR LLAVE DE BANQUETA'},
  {'numero_reportes': 10, 'trabajo_realizado': 'CAMBIO LLAVE BANQUETA'},
  {'numero_reportes': 0, 'trabajo_realizado': 'CERRAR LLAVE BANQUETA'},
  {'numero_reportes': 0, 'trabajo_realizado': 'CORTAR DE COX'},
  {'numero_reportes': 34, 'trabajo_realizado': 'FUGA EN LLAVE BANQUETA'},
  {'numero_reportes': 0, 'trabajo_realizado': 'RECONECTAR DE COX'}],
 'grafica_reportes_aguasresiduales': [{'numero_reportes': 4554,
   'trabajo_realizado': 'DRENAJE TAPADO'},
  {'numero_reportes': 37, 'trabajo_realizado': 'ALCANT. BROTANDO\xa0'},
  {'numero_reportes': 127, 'trabajo_realizado': 'ALCANT. SIN TAPA'},
  {'numero_reportes': 0, 'trabajo_realizado': 'INST. DE BROCAL Y TAPA'},
  {'numero_reportes': 255, 'trabajo_realizado': 'LIMPIAR CANASTILLAS'},
  {'numero_reportes': 135, 'trabajo_realizado': 'LIMP. DE POZO DE VISITA'},
  {'numero_reportes': 11, 'trabajo_realizado': 'NIVELAR BROCAL'},
  {'numero_reportes': 0, 'trabajo_realizado': 'CONST. DE POZO DE VISITA'},
  {'numero_reportes': 0, 'trabajo_realizado': 'INTERCONEXIÓN'},
  {'numero_reportes': 93, 'trabajo_realizado': 'REPARACIÓN DE DESCARGA'},
  {'numero_reportes': 0, 'trabajo_realizado': 'REPARACIÓN DE LINEA GRAL.'},
  {'numero_reportes': 119, 'trabajo_realizado': 'REPARACIÓN DE COLECTOR'},
  {'numero_reportes': 0, 'trabajo_realizado': 'REPOSICIÓN DE COLECTOR'},
  {'numero_reportes': 0, 'trabajo_realizado': 'REVISION DE LINEA'},
  {'numero_reportes': 452, 'trabajo_realizado': 'SONDEO DE LINEA'}],
 'grafica_reportes_conexciones': [{'numero_reportes': 305,
   'trabajo_realizado': 'CONEXIÓN AGUA Y DRENAJE'},
  {'numero_reportes': 28, 'trabajo_realizado': 'CAMBIO DE CONEXIÓN AGUA'},
  {'numero_reportes': 42,
   'trabajo_realizado': 'CAMBIO DE CONEXIÓN DE DRENAJE'},
  {'numero_reportes': 70, 'trabajo_realizado': 'CANCELACIÓN TOMA'},
  {'numero_reportes': 0, 'trabajo_realizado': 'INTERCONEXIÓN'},
  {'numero_reportes': 6, 'trabajo_realizado': 'CONEXIÓN DE AGUA'},
  {'numero_reportes': 46, 'trabajo_realizado': 'RECONEXION'},
  {'numero_reportes': 6, 'trabajo_realizado': 'CONEXIÓN DE DRENAJE EXTRA'}],
 'grafica_reportes_resumen': [{'categoria': 'AGUA POTABLE',
   'dato': 922,
   'fecha': 'ENERO'},
  {'categoria': 'AGUA POTABLE', 'dato': 949, 'fecha': 'FEBRERO'},
  {'categoria': 'AGUA POTABLE', 'dato': 941, 'fecha': 'MARZO'},
  {'categoria': 'AGUA POTABLE', 'dato': 961, 'fecha': 'ABRIL'},
  {'categoria': 'AGUA POTABLE', 'dato': 1057, 'fecha': 'MAYO'},
  {'categoria': 'AGUA POTABLE', 'dato': 1574, 'fecha': 'JUNIO'},
  {'categoria': 'AGUA POTABLE', 'dato': 1290, 'fecha': 'JULIO'},
  {'categoria': 'AGUA POTABLE', 'dato': 1494, 'fecha': 'AGOSTO'},
  {'categoria': 'AGUAS RESIDUALES', 'dato': 626, 'fecha': 'ENERO'},
  {'categoria': 'AGUAS RESIDUALES', 'dato': 783, 'fecha': 'FEBRERO'},
  {'categoria': 'AGUAS RESIDUALES', 'dato': 1216, 'fecha': 'MARZO'},
  {'categoria': 'AGUAS RESIDUALES', 'dato': 640, 'fecha': 'ABRIL'},
  {'categoria': 'AGUAS RESIDUALES', 'dato': 902, 'fecha': 'MAYO'},
  {'categoria': 'AGUAS RESIDUALES', 'dato': 651, 'fecha': 'JUNIO'},
  {'categoria': 'AGUAS RESIDUALES', 'dato': 652, 'fecha': 'JULIO'},
  {'categoria': 'AGUAS RESIDUALES', 'dato': 1215, 'fecha': 'AGOSTO'},
  {'categoria': 'CONEXIONES', 'dato': 73, 'fecha': 'ENERO'},
  {'categoria': 'CONEXIONES', 'dato': 62, 'fecha': 'FEBRERO'},
  {'categoria': 'CONEXIONES', 'dato': 82, 'fecha': 'MARZO'},
  {'categoria': 'CONEXIONES', 'dato': 79, 'fecha': 'ABRIL'},
  {'categoria': 'CONEXIONES', 'dato': 79, 'fecha': 'MAYO'},
  {'categoria': 'CONEXIONES', 'dato': 73, 'fecha': 'JUNIO'},
  {'categoria': 'CONEXIONES', 'dato': 55, 'fecha': 'JULIO'},
  {'categoria': 'CONEXIONES', 'dato': 79, 'fecha': 'AGOSTO'}],
 'grafica_resumen_simas': {'2018': [{'Costo': 53447039.97,
    'Tipo obras': 'OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS'},
   {'Costo': 47403790.0,
    'Tipo obras': 'OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS'},
   {'Costo': 4234359.83, 'Tipo obras': 'OBRAS EN LINEAS DE AGUA POTABLE'},
   {'Costo': 0.0, 'Tipo obras': 'PERFORACION Y PROFUNDIZACION DE POZOS'},
   {'Costo': 22718174.48, 'Tipo obras': 'MANTENIMIENTO A POZOS'},
   {'Costo': 955090.5568, 'Tipo obras': 'MANTENIMIENTO A TANQUES'},
   {'Costo': 4879738.928,
    'Tipo obras': 'MANTENIMIENTO A CARCAMOS  SANITARIOS Y PLUVIALES'},
   {'Costo': 13274089.0, 'Tipo obras': 'MANTENIMIENTO A LINEAS Y CONEXIONES'}],
  '2019': [{'Costo': 29010522.680000003,
    'Tipo obras': 'OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS'},
   {'Costo': 49514414.25,
    'Tipo obras': 'OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS'},
   {'Costo': 3773723.4799999995,
    'Tipo obras': 'OBRAS EN LINEA DE AGUA POTABLE '},
   {'Costo': 16071899.458400002, 'Tipo obras': 'MANTENIMIENTO A POZOS '},
   {'Costo': 1635869.1183999998, 'Tipo obras': 'MANTENIMIENTO A TANQUES '},
   {'Costo': 5976401.0608,
    'Tipo obras': 'MANTENIMIENTO A CARCAMOS  SANITARIOS Y PLUVIALES'},
   {'Costo': 14539052.85,
    'Tipo obras': 'MANTENIMIENTO A LINEAS Y CONEXIONES '}],
  '2020': [{'Costo': 21896328.681,
    'Tipo obras': 'OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS'},
   {'Costo': 52467611.175000004,
    'Tipo obras': 'OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS'},
   {'Costo': 9379322.93, 'Tipo obras': 'OBRAS EN LINEA DE AGUA POTABLE '},
   {'Costo': 99930.81,
    'Tipo obras': 'OBRAS DE AGUA TRATADA REALIZADAS POR CONTRATISTAS'},
   {'Costo': 4142164.0527999997,
    'Tipo obras': 'MANTENIMIENTO A CARCAMOS  SANITARIOS Y PLUVIALES'},
   {'Costo': 15532255.2,
    'Tipo obras': 'MANTENIMIENTO A LINEAS Y CONEXIONES '}],
  '2021': [{'Costo': 16812542.03,
    'Tipo obras': 'OBRAS DE DRENAJE REALIZADAS POR CONTRATISTAS'},
   {'Costo': 33836597.353125006,
    'Tipo obras': 'OBRAS DE DRENAJE REALIZADAS POR PERSONAL DE SIMAS'},
   {'Costo': 4448682.96, 'Tipo obras': 'OBRAS EN LINEA DE AGUA POTABLE '},
   {'Costo': 24291178.557200003, 'Tipo obras': 'MANTENIMIENTO A POZOS '},
   {'Costo': 1201938.8836, 'Tipo obras': 'MANTENIMIENTO A TANQUES '},
   {'Costo': 9188307.45,
    'Tipo obras': 'MANTENIMIENTO A LINEAS Y CONEXIONES '}]},
 'tabla_eficiencia_simas': {'abril': [{'Colonias': 'GALERIAS',
    'EFICIENCIA FISICA': 0.6103666666666667,
    'No. DE USUARIOS': 54},
   {'Colonias': 'CAMPESTRE LA ROSITA ',
    'EFICIENCIA FISICA': 0.8014317817014447,
    'No. DE USUARIOS': 1869},
   {'Colonias': 'AMP LA ROSITA ',
    'EFICIENCIA FISICA': 0.6152289127254997,
    'No. DE USUARIOS': 1465},
   {'Colonias': 'SAN ISIDRO',
    'EFICIENCIA FISICA': 0.8376700532435076,
    'No. DE USUARIOS': 1150},
   {'Colonias': 'FRESNO ',
    'EFICIENCIA FISICA': 0.9191240795449535,
    'No. DE USUARIOS': 1081},
   {'Colonias': 'QUINTAS SAN ISIDRO',
    'EFICIENCIA FISICA': 0.8491719808688721,
    'No. DE USUARIOS': 386},
   {'Colonias': 'SAN LUCIANO ',
    'EFICIENCIA FISICA': 0.9457847358121331,
    'No. DE USUARIOS': 73},
   {'Colonias': 'VIÑEDOS ',
    'EFICIENCIA FISICA': 0.8148763746456716,
    'No. DE USUARIOS': 6318},
   {'Colonias': 'VILLA FLORIDA ',
    'EFICIENCIA FISICA': 0.767018674001158,
    'No. DE USUARIOS': 916},
   {'Colonias': 'ZARAGOZA SUR ',
    'EFICIENCIA FISICA': 0.7528797307980782,
    'No. DE USUARIOS': 3638},
   {'Colonias': 'FERROPUERTO',
    'EFICIENCIA FISICA': 0.8772070890629098,
    'No. DE USUARIOS': 49},
   {'Colonias': 'SANTA BARBARA ',
    'EFICIENCIA FISICA': 0.9889453214367422,
    'No. DE USUARIOS': 562},
   {'Colonias': 'LAS QUINTAS',
    'EFICIENCIA FISICA': 0.9639335930882603,
    'No. DE USUARIOS': 230},
   {'Colonias': 'FRONDOSO',
    'EFICIENCIA FISICA': 0.9653530326594091,
    'No. DE USUARIOS': 106},
   {'Colonias': 'ISABELES',
    'EFICIENCIA FISICA': 0.9345217795690591,
    'No. DE USUARIOS': 158},
   {'Colonias': 'VEREDAS LA PAZ ',
    'EFICIENCIA FISICA': 0.5286291876542375,
    'No. DE USUARIOS': 1432},
   {'Colonias': 'JARDINES DEL SOL',
    'EFICIENCIA FISICA': 1.011304854368932,
    'No. DE USUARIOS': 1530},
   {'Colonias': 'RES SENDEROS',
    'EFICIENCIA FISICA': 0.7872248534226758,
    'No. DE USUARIOS': 2442},
   {'Colonias': 'AMP SENDEROS ',
    'EFICIENCIA FISICA': 0.7009124347413384,
    'No. DE USUARIOS': 602},
   {'Colonias': 'LA CIENEGA',
    'EFICIENCIA FISICA': 0.9102720348204569,
    'No. DE USUARIOS': 109},
   {'Colonias': 'LAGOS',
    'EFICIENCIA FISICA': 0.5746579381929701,
    'No. DE USUARIOS': 471},
   {'Colonias': 'VILLAS LAS MARG',
    'EFICIENCIA FISICA': 0.9454491017964072,
    'No. DE USUARIOS': 15},
   {'Colonias': 'CAMPIÑAS IBERIA',
    'EFICIENCIA FISICA': 0.6621513429752066,
    'No. DE USUARIOS': 176},
   {'Colonias': 'BAMBU ',
    'EFICIENCIA FISICA': 1.017921146953405,
    'No. DE USUARIOS': 35},
   {'Colonias': 'SEVILLA',
    'EFICIENCIA FISICA': 0.979911227154047,
    'No. DE USUARIOS': 109}],
  'agostoo': [{'Colonias': 'GALERIAS',
    'EFICIENCIA FISICA': 0.6190687361419068,
    'No. DE USUARIOS': 54},
   {'Colonias': 'CAMPESTRE LA ROSITA ',
    'EFICIENCIA FISICA': 0.8734558951458563,
    'No. DE USUARIOS': 1870},
   {'Colonias': 'AMP LA ROSITA ',
    'EFICIENCIA FISICA': 0.6100355264244994,
    'No. DE USUARIOS': 1467},
   {'Colonias': 'SAN ISIDRO',
    'EFICIENCIA FISICA': 0.7890846922672278,
    'No. DE USUARIOS': 1151},
   {'Colonias': 'FRESNO ',
    'EFICIENCIA FISICA': 0.8855193919313974,
    'No. DE USUARIOS': 1092},
   {'Colonias': 'QUINTAS SAN ISIDRO',
    'EFICIENCIA FISICA': 0.7871773522064945,
    'No. DE USUARIOS': 386},
   {'Colonias': 'SAN LUCIANO ',
    'EFICIENCIA FISICA': 0.8190726159230096,
    'No. DE USUARIOS': 72},
   {'Colonias': 'VIÑEDOS ',
    'EFICIENCIA FISICA': 0.70953125,
    'No. DE USUARIOS': 6485},
   {'Colonias': 'VILLA FLORIDA ',
    'EFICIENCIA FISICA': 0.5179677237755677,
    'No. DE USUARIOS': 916},
   {'Colonias': 'ZARAGOZA SUR ',
    'EFICIENCIA FISICA': 0.7983864681580793,
    'No. DE USUARIOS': 3814},
   {'Colonias': 'FERROPUERTO',
    'EFICIENCIA FISICA': 0.8559080228264518,
    'No. DE USUARIOS': 50},
   {'Colonias': 'SANTA BARBARA ',
    'EFICIENCIA FISICA': 0.7239730976599411,
    'No. DE USUARIOS': 557},
   {'Colonias': 'LAS QUINTAS',
    'EFICIENCIA FISICA': 0.728584546766365,
    'No. DE USUARIOS': 231},
   {'Colonias': 'FRONDOSO',
    'EFICIENCIA FISICA': 0.6651418115279049,
    'No. DE USUARIOS': 106},
   {'Colonias': 'ISABELES',
    'EFICIENCIA FISICA': 0.8473980309423348,
    'No. DE USUARIOS': 158},
   {'Colonias': 'VEREDAS LA PAZ ',
    'EFICIENCIA FISICA': 1.2186617100371748,
    'No. DE USUARIOS': 1495},
   {'Colonias': 'JARDINES DEL SOL',
    'EFICIENCIA FISICA': 0.9750792644261256,
    'No. DE USUARIOS': 1528},
   {'Colonias': 'RES SENDEROS',
    'EFICIENCIA FISICA': 0.7434259954921112,
    'No. DE USUARIOS': 2447},
   {'Colonias': 'AMP SENDEROS ',
    'EFICIENCIA FISICA': 0.6945476698141944,
    'No. DE USUARIOS': 603},
   {'Colonias': 'LA CIENEGA',
    'EFICIENCIA FISICA': 0.8016811955168119,
    'No. DE USUARIOS': 109},
   {'Colonias': 'LAGOS',
    'EFICIENCIA FISICA': 0.2557672527795465,
    'No. DE USUARIOS': 473},
   {'Colonias': 'VILLAS LAS MARG',
    'EFICIENCIA FISICA': 0.9027777777777778,
    'No. DE USUARIOS': 16},
   {'Colonias': 'CAMPIÑAS IBERIA',
    'EFICIENCIA FISICA': 0.4692293476252079,
    'No. DE USUARIOS': 176},
   {'Colonias': 'BAMBU ',
    'EFICIENCIA FISICA': 0.7314540059347181,
    'No. DE USUARIOS': 35},
   {'Colonias': 'SEVILLA',
    'EFICIENCIA FISICA': 1.2653822249844624,
    'No. DE USUARIOS': 109}],
  'enero': [{'Colonias': 'GALERIAS',
    'EFICIENCIA FISICA ': 0.5411537533188511,
    'No. DE USUARIOS': 54},
   {'Colonias': 'CAMPESTRE LA ROSITA ',
    'EFICIENCIA FISICA ': 0.737468469918961,
    'No. DE USUARIOS': 1864},
   {'Colonias': 'AMP LA ROSITA ',
    'EFICIENCIA FISICA ': 0.7045230175230176,
    'No. DE USUARIOS': 1464},
   {'Colonias': 'SAN ISIDRO',
    'EFICIENCIA FISICA ': 0.6922573099415205,
    'No. DE USUARIOS': 1148},
   {'Colonias': 'FRESNO ',
    'EFICIENCIA FISICA ': 0.8827344821281653,
    'No. DE USUARIOS': 1078},
   {'Colonias': 'QUINTAS SAN ISIDRO',
    'EFICIENCIA FISICA ': 0.6867696007696008,
    'No. DE USUARIOS': 385},
   {'Colonias': 'SAN LUCIANO ',
    'EFICIENCIA FISICA ': 0.3611857301736675,
    'No. DE USUARIOS': 73},
   {'Colonias': 'VIÑEDOS ',
    'EFICIENCIA FISICA ': 0.6203940298507462,
    'No. DE USUARIOS': 5829},
   {'Colonias': 'ZARAGOZA SUR ',
    'EFICIENCIA FISICA ': 0.3227681246255243,
    'No. DE USUARIOS': 2072},
   {'Colonias': 'FERROPUERTO',
    'EFICIENCIA FISICA ': 0.8514803383630544,
    'No. DE USUARIOS': 47},
   {'Colonias': 'SANTA BARBARA ',
    'EFICIENCIA FISICA ': 0.801370497881356,
    'No. DE USUARIOS': 562},
   {'Colonias': 'LAS QUINTAS',
    'EFICIENCIA FISICA ': 0.8204537255446095,
    'No. DE USUARIOS': 231},
   {'Colonias': 'FRONDOSO',
    'EFICIENCIA FISICA ': 0.9057135076252724,
    'No. DE USUARIOS': 102},
   {'Colonias': 'ISABELES',
    'EFICIENCIA FISICA ': 0.8831930379746835,
    'No. DE USUARIOS': 158},
   {'Colonias': 'VEREDAS LA PAZ ',
    'EFICIENCIA FISICA ': 1.2577518593644355,
    'No. DE USUARIOS': 1409},
   {'Colonias': 'JARDINES DEL SOL',
    'EFICIENCIA FISICA ': 0.5556113282036821,
    'No. DE USUARIOS': 1362},
   {'Colonias': 'RES SENDEROS',
    'EFICIENCIA FISICA ': 0.7160658187547716,
    'No. DE USUARIOS': 2443},
   {'Colonias': 'AMP SENDEROS ',
    'EFICIENCIA FISICA ': 0.71748101683724,
    'No. DE USUARIOS': 601},
   {'Colonias': 'LA CIENEGA',
    'EFICIENCIA FISICA ': 0.6679247501469724,
    'No. DE USUARIOS': 109},
   {'Colonias': 'LAGOS',
    'EFICIENCIA FISICA ': 0.1845344267896805,
    'No. DE USUARIOS': 419},
   {'Colonias': 'VILLAS LAS MARG',
    'EFICIENCIA FISICA ': 0.8757201646090536,
    'No. DE USUARIOS': 15},
   {'Colonias': 'CAMPIÑAS IBERIA',
    'EFICIENCIA FISICA ': 0.4611551528878822,
    'No. DE USUARIOS': 176},
   {'Colonias': 'BAMBU ', 'EFICIENCIA FISICA ': 0.92, 'No. DE USUARIOS': 35},
   {'Colonias': 'SEVILLA',
    'EFICIENCIA FISICA ': 3.1408227848101267,
    'No. DE USUARIOS': 109}],
  'febrero': [{'Colonias': 'GALERIAS',
    'EFICIENCIA FISICA ': 0.5471090161953106,
    'No. DE USUARIOS': 54},
   {'Colonias': 'CAMPESTRE LA ROSITA ',
    'EFICIENCIA FISICA ': '61% / 90%',
    'No. DE USUARIOS': 1864},
   {'Colonias': 'AMP LA ROSITA ',
    'EFICIENCIA FISICA ': 0.8230577324034798,
    'No. DE USUARIOS': 1464},
   {'Colonias': 'SAN ISIDRO',
    'EFICIENCIA FISICA ': 0.6948610694652674,
    'No. DE USUARIOS': 1148},
   {'Colonias': 'FRESNO ',
    'EFICIENCIA FISICA ': 0.8956141322672319,
    'No. DE USUARIOS': 1077},
   {'Colonias': 'QUINTAS SAN ISIDRO',
    'EFICIENCIA FISICA ': 0.7512407849652165,
    'No. DE USUARIOS': 384},
   {'Colonias': 'SAN LUCIANO ',
    'EFICIENCIA FISICA ': 0.3124439770245126,
    'No. DE USUARIOS': 73},
   {'Colonias': 'VIÑEDOS ',
    'EFICIENCIA FISICA ': 0.6497130114553934,
    'No. DE USUARIOS': 5832},
   {'Colonias': 'VILLA FLORIDA ',
    'EFICIENCIA FISICA ': 0.44746732026143793,
    'No. DE USUARIOS': 916},
   {'Colonias': 'ZARAGOZA SUR ',
    'EFICIENCIA FISICA ': 0.6346371806049226,
    'No. DE USUARIOS': 2072},
   {'Colonias': 'FERROPUERTO',
    'EFICIENCIA FISICA ': 0.7650788751714678,
    'No. DE USUARIOS': 47},
   {'Colonias': 'SANTA BARBARA ',
    'EFICIENCIA FISICA ': 0.8393720344009491,
    'No. DE USUARIOS': 562},
   {'Colonias': 'LAS QUINTAS',
    'EFICIENCIA FISICA ': 0.8269476372924649,
    'No. DE USUARIOS': 232},
   {'Colonias': 'FRONDOSO',
    'EFICIENCIA FISICA ': 0.8306073113207547,
    'No. DE USUARIOS': 106},
   {'Colonias': 'ISABELES',
    'EFICIENCIA FISICA ': 0.9167094236360527,
    'No. DE USUARIOS': 158},
   {'Colonias': 'VEREDAS LA PAZ ',
    'EFICIENCIA FISICA ': 1.5914553638409603,
    'No. DE USUARIOS': 1409},
   {'Colonias': 'JARDINES DEL SOL',
    'EFICIENCIA FISICA ': 0.5072116499046622,
    'No. DE USUARIOS': 1362},
   {'Colonias': 'RES SENDEROS',
    'EFICIENCIA FISICA ': 0.7292838455925538,
    'No. DE USUARIOS': 2443},
   {'Colonias': 'AMP SENDEROS ',
    'EFICIENCIA FISICA ': 0.7220618413754853,
    'No. DE USUARIOS': 601},
   {'Colonias': 'LA CIENEGA',
    'EFICIENCIA FISICA ': 0.7397213727488957,
    'No. DE USUARIOS': 109},
   {'Colonias': 'LAGOS',
    'EFICIENCIA FISICA ': 0.39173787234042556,
    'No. DE USUARIOS': 470},
   {'Colonias': 'VILLAS LAS MARG',
    'EFICIENCIA FISICA ': 0.9217219730941705,
    'No. DE USUARIOS': 15},
   {'Colonias': 'CAMPIÑAS IBERIA',
    'EFICIENCIA FISICA ': 0.5020809659090909,
    'No. DE USUARIOS': 176},
   {'Colonias': 'BAMBU ',
    'EFICIENCIA FISICA ': 0.8867924528301887,
    'No. DE USUARIOS': 35},
   {'Colonias': 'SEVILLA',
    'EFICIENCIA FISICA ': 8.583333333333334,
    'No. DE USUARIOS': 109}],
  'julio': [{'Colonias': 'GALERIAS',
    'EFICIENCIA FISICA': 0.6391521197007481,
    'No. DE USUARIOS': 54},
   {'Colonias': 'CAMPESTRE LA ROSITA ',
    'EFICIENCIA FISICA': 0.8590407754010695,
    'No. DE USUARIOS': 1870},
   {'Colonias': 'AMP LA ROSITA ',
    'EFICIENCIA FISICA': 0.6360370002293403,
    'No. DE USUARIOS': 1466},
   {'Colonias': 'SAN ISIDRO',
    'EFICIENCIA FISICA': 0.8549965973930796,
    'No. DE USUARIOS': 1150},
   {'Colonias': 'FRESNO ',
    'EFICIENCIA FISICA': 0.8940712242280754,
    'No. DE USUARIOS': 1090},
   {'Colonias': 'QUINTAS SAN ISIDRO',
    'EFICIENCIA FISICA': 0.6753235977431131,
    'No. DE USUARIOS': 387},
   {'Colonias': 'SAN LUCIANO ',
    'EFICIENCIA FISICA': 0.9067393982051734,
    'No. DE USUARIOS': 72},
   {'Colonias': 'VIÑEDOS ',
    'EFICIENCIA FISICA': 0.6870757526612213,
    'No. DE USUARIOS': 6408},
   {'Colonias': 'VILLA FLORIDA ',
    'EFICIENCIA FISICA': 0.5173662394587641,
    'No. DE USUARIOS': 916},
   {'Colonias': 'ZARAGOZA SUR ',
    'EFICIENCIA FISICA': 0.8325959899342479,
    'No. DE USUARIOS': 3815},
   {'Colonias': 'FERROPUERTO',
    'EFICIENCIA FISICA': 0.9367577983861255,
    'No. DE USUARIOS': 50},
   {'Colonias': 'SANTA BARBARA ',
    'EFICIENCIA FISICA': 0.8167602942028146,
    'No. DE USUARIOS': 557},
   {'Colonias': 'LAS QUINTAS',
    'EFICIENCIA FISICA': 0.7749670619235837,
    'No. DE USUARIOS': 230},
   {'Colonias': 'FRONDOSO',
    'EFICIENCIA FISICA': 0.8213623111582296,
    'No. DE USUARIOS': 106},
   {'Colonias': 'ISABELES',
    'EFICIENCIA FISICA': 0.9583275066424276,
    'No. DE USUARIOS': 158},
   {'Colonias': 'VEREDAS LA PAZ ',
    'EFICIENCIA FISICA': 1.2587213891081295,
    'No. DE USUARIOS': 1434},
   {'Colonias': 'JARDINES DEL SOL',
    'EFICIENCIA FISICA': 0.9871274571972098,
    'No. DE USUARIOS': 1528},
   {'Colonias': 'RES SENDEROS',
    'EFICIENCIA FISICA': 0.7621792813567237,
    'No. DE USUARIOS': 2447},